# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/

# Build outputs
**/build
**/dist
**/.svelte-kit
**/.output
**/node_modules
**/.lh
**/test-results
**/coverage

